{
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "printWidth": 222,
    "proseWrap": "never",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}
